@import 'global.css';
@import 'font-awesome.min.css';

.container {
    background-image: url(../img/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8rem 0;
}


.center-form {
    background-color: #fff;
    border: 1px solid #131B23;
    box-shadow: 1px 20px 38px -2px rgba(0, 0, 0, 0.62);
    border-radius: 50px;
    width: 30%;
    margin: auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-border-radius: 50px;
}

form {
    padding: 1rem 5rem 3rem;
}

form i {
    margin: 1rem calc(50% - 35px - 8px) 3rem;
    border-radius: 50%;
    font-size: 1.8rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #131B23;
    /*color: #131b23;
    */
    color: #fff;
    border: 1px solid #131B23;
    padding: 1.6rem;
}

form input,
form textarea {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
    border: 0.2px solid grey;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
form input{
    height: 1.6rem;
}
form input[type=radio] {
    width: 10px;
    height: 10px;
}

form button {
    border: 1px solid #131B23;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: transparent;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0.4rem 2rem;
}

form button:hover {
    background-color: #131B23;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .center-form {
        width: 90%;
        margin: 1.3rem auto;
    }

    form {
        padding: 3rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .center-form {
        width: 70%;
        margin: 1.3rem auto;
    }
}