@import 'global.css';
@import 'font-awesome.min.css';

.container {
    background-color: #cfcbcb;
    /* background-color: #ede6db; */
    position: relative;
    padding-bottom: 3rem;
}

table {
    box-shadow: 1px 20px 38px -2px rgba(0, 0, 0, 0.62);
    background-color: #fff;
    border-radius: 0px;
    width: 50%;
    margin: auto;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    padding-bottom: 2rem;
}

table td {
    text-align: center;
    border-right: 1px solid #131B23;
}

th {
    border: 1px solid #131B23;
    background-color: #131B23;
    color: #fff;
    font-weight: 400;
    font-size: 1.4rem;
}

table,
td,
tr,
th {
    border-collapse: collapse;
    padding: 1.4rem;
}

@media only screen and (max-width: 600px) {
    table {
        width: 90%;
        margin: 1.3rem auto;
    }

    table,
    td,
    tr,
    th {
        border-collapse: collapse;
        padding: 0.4rem;
    }

}